@using System.Security.Claims
@model RemoteWork.Models.Team

@{
    ViewData["Title"] = "Команда";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isLead = Model.LeadId == User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<section class="py-4 py-xl-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-7">
            <div class="card">
                <div class="card-body px-sm-5">
                    <h2 class="text-center mb-2">Команда</h2>
                    <form asp-action="Info">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Название</label>
                            <input
                                asp-for="Name"
                                class="form-control"
                                aria-required="true"
                                disabled="@(!isLead)"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group my-3">
                            <label asp-for="LeadId" class="control-label">Тимлид</label>
                            <input class="form-control" aria-required="true" value="@Model.Lead.FirstName @Model.Lead.LastName" disabled/>
                        </div>
                        <div class="form-group my-3">
                            <label asp-for="TeamId" class="control-label">ID команды</label>
                            <input class="form-control" aria-required="true" value="@Model.TeamId" disabled/>
                            <p class="text">
                                Это значение необходимо указать на
                                <a asp-action="Join" asp-controller="Team">этой странице</a>,
                                чтобы вступить в команду
                            </p>
                        </div>
                        @if (isLead)
                        {
                            <div class="text-center">
                                <button class="btn btn-primary mt-2" type="submit">Изменить</button>
                            </div>
                        }
                    </form>
                    @if (isLead)
                    {
                        <form asp-action="Delete" asp-route-id="@Model.TeamId">
                            <button class="btn btn-danger mt-4" type="submit">Удалить команду</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center mt-4">Участники</h2>
    <div class="mx-auto" style="max-width: 250px">
    <table class="table table-striped table-bordered">
        <tbody>
        @for (var i = 0; i < Model.Members?.Count; ++i)
        {
            <tr>
                <td class="col-1">@(i + 1)</td><td class="col-5">@Model.Members[i].FullName</td>
            </tr>
        }
        </tbody>
    </table>
    </div>
    <form asp-action="Quit" class="text-center" asp-route-id="@Model.TeamId">
        <button class="btn btn-danger" type="submit">Покинуть команду</button>
    </form>
</section>