@using System.Security.Claims
@model RemoteWork.Models.Issue
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var hasRights = Model.CreatorId == userId || userId == Model.Team!.LeadId;
    var badgeStyle = Model.Status switch {
        Status.Opened => "bg-primary",
        Status.Closed => "bg-danger",
        _ => "bg-success"
        };
    var badgeText = Model.Status switch {
        Status.Opened => "Открыта",
        Status.Closed => "Отменена",
        _ => "Выполнена"
        };
}

<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
    <div class="card">
        <div
            class="card-header d-flex gap-2 align-items-center flex-wrap justify-content-center justify-content-md-between">
            <h4 class="text-center mb-0">@Model.Title</h4>
            <div>
                <span class="badge @badgeStyle ms-2">
                    @badgeText
                </span>
            </div>
        </div>
        <div class="card-body">
            <p>@Model.Description</p>
            @if (Model.RespondentId != null)
            {
                <hr/>
                <p class="bg-light p-2 rounded border message">
                    <strong>Ответ от:</strong> @Model.Respondent!.FullName
                </p>
                <p class="mb-0">@Model.ResponseText</p>
                <a href="@Url.Action("GetResponseFile", new { id = Model.IssueId })">
                    @Model.ResponseFileName
                </a>
            }
            else if (Model.Status == Status.Opened)
            {
                <hr/>
                <div class="text-center">
                    <button class="btn-primary btn-sm" id="open-button">Добавить ответ</button>
                </div>
                <form enctype="multipart/form-data" style="display: none" id="response-form" asp-action="Answer" asp-route-id="@Model.IssueId">
                    <div class="form-group">
                        <textarea class="form-control" required="required" name="responseText" placeholder="Текст ответа"></textarea>
                    </div>
                    <div class="form-group mt-2">
                        <label class="control-label">Добавить файл к ответу</label>
                        <input type="file" class="form-control" name="responseFile" style="max-width: max-content"/>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Сохранить ответ</button>
                    </div>
                </form>
            }
        </div>
        @if (hasRights && Model.Status == Status.Opened)
        {
            <div class="card-footer">
                <div class="d-flex flex-wrap gap-3 justify-content-center">
                    <form asp-action="Finish" asp-route-id="@Model.IssueId">
                        <button type="submit" class="btn btn-success">Завершить</button>
                    </form>
                    <form asp-action="Close" asp-route-id="@Model.IssueId">
                        <button class="btn btn-danger">Отменить</button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

<script>
    const btn = document.getElementById("open-button")
    const form = document.getElementById("response-form")
    btn.addEventListener("click", () => {
        btn.remove()
        form.style.display = "block"
    })
</script>